*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body
{
	margin: 0;
	padding: 0;
}




@media(max-width: 444px){

	.social-links img{
	width: 5rem;
	margin-bottom: 1rem;
	padding-left: 2.5rem;
	cursor: pointer;

	}

	.social-links{
	width: 25px;
	text-align: center;
	position: absolute;
	top: 31%;
	margin-top: 19rem;
	}



}

@media(max-width: 444px){
	#mainHeading_text{
		font-size: 4rem;
	}

}

@media(max-width: 400px)
{
	.imgContent h2{
		font-size: .8rem;
	}
	.imgContent p{
		font-size: .7rem;
	}
}



@media(max-width: 1200px)
{
	html{
		font-size: 55%;

	}
}


@media(max-width: 518px)
{
	html{
		font-size: 27.4%;
		
	}
}
@media(max-width: 518px)
{
	section
	{

		position: relative;	
		width: 100%;
		height: 45vh;
		background: url(7.jpeg);
		background-size: cover;
		background-attachment: fixed;


	}
}



@media(max-width: 600px){
		#STP{
		font-size: 21px;
		color: white;
	}

}
@media(max-width: 518px){

	section
	{

		position: relative;	
		width: 100%;
		height: 10vh;
		background: url(7.jpeg);
		background-size: cover;
		background-attachment: fixed;

	}
}




/*============>SIDE BAR==============> */


.side-bar{
	width: 4.8rem;
	height: 70vh;
	background: linear-gradient(#005400 , #000729);
	position: absolute;
	bottom: 0;
	right: 0;
	margin-left: 4rem;
		
	
}
.social-links img{
	width: 5rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
	cursor: pointer;

}
.social-links{
	width: 2.5rem;
	text-align: center;
	position: absolute;
	top: 31%;
	transform: translate(-50%);
}


/*==============> LOGO AND STP TEXT===============>*/


#STP{
	font-size: 2.9rem;
	color: white;

}



/*============> NAV MARGIN===============>*/



#navMargin{
    margin-left:25px ;
    margin-right:25px ;

}



/*==============BACKGROUND ====================*/


section
{

	position: relative;	
	width: 100%;
	height: 80vh;
	background: url(5.jpeg);
	background-size: cover;
	background-attachment: fixed;

}



#mainHeading_text 
{
	padding-top: 12rem;

}

.mainHeading_text{
	margin-right: 3rem;
	color: #fff;
}
h1
{
	font-size: 7rem;
	text-align: center;	
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
}

h2{
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem; 
	font-weight: 900;
	text-align: center;

}

h3{
	text-align: left;
	margin-left: 3rem;

}
 p{
	text-align: center;
	font-size: 2rem;
}

section .content
{
	position: relative;
	z-index: 1;
	margin: auto;
	max-width: 90rem;
	text-align: center;
}


/*BUBBLES ANIMATION*/

.bubbles img{
	width: 5rem;
	animation: bubble 7s linear infinite;
}
.bubbles{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -90px;

}

@keyframes bubble{
	0%{
		transform: translate(0);
		opacity: 0;
	}
	50%{
		
		opacity: 1;
	}
	70%{
		
		opacity: 1;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

.bubbles img:nth-child(1){
	animation-delay: 2s;
	width: 2.5rem;
}
.bubbles img:nth-child(2){
	animation-delay: 1s;
	width: 1.9rem;
}
.bubbles img:nth-child(3){
	animation-delay: 1.5s;
	width: 2.1rem;
}
.bubbles img:nth-child(4){
	animation-delay: 3s;
	width: 3.5rem;
}
.bubbles img:nth-child(5){
	animation-delay: 4.5s;
	width: 1.5rem;
}
.bubbles img:nth-child(6){
	animation-delay: 6s;
}
.bubbles img:nth-child(7){
	animation-delay: 7s;
	width: 2.7rem;
}
.bubbles img:nth-child(7){
	animation-delay: 7s;
	width: 2.7rem;
}

.bubbles img:nth-child(8){
	animation-delay: 5s;
	width: 3.7rem;
}

.bubbles img:nth-child(9){
	animation-delay: 3.5s;
	width: 2rem;
}
.bubbles img:nth-child(10){
	animation-delay: 2.5s;
	width: 2.3rem;
}





















#main1 {
    padding: 0rem 0rem;
    overflow: hidden;
}

#shade {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(137, 0, 255, 0.25), rgba(255, 0, 118, 0.25));
    position: relative;
}

#img {
    position: absolute;
    height: auto;
    width: auto;
}



input {
    border: .1rem solid white;
}

#input {
    border-bottom: .1rem solid #717171;
    padding: .4rem;
    padding-top: 0rem;
    margin-bottom: .2rem;
    width: 100%;
}
.container {
    margin-top: 2.0rem;

}

.signupcontainer {
    margin-top: 2.0rem;

   
}









.container-Footer{

	height: 18rem;
	background: #7986cb;
	display: flex;
}
.logoImg h1{
	font-size: 2.1rem;
	font-family: 'Brush Script MT', cursive;
	float: left;
	padding-left: 6rem;
}
#STP{
	font-size: 4rem;
	float: left;
}

.logoImg p{
	float: left;
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.contactDiv h1{
	padding-top: 2rem;
	font-size: 1.9rem;
	color: #fff;
}
.contactDiv p{
	color: #fff;
	font-size: 1.8rem;
}


.contactDiv i{
	color: black;
	padding-left: 1rem;
	padding-right: .2rem;
}

.navBarLink h1{
	font-size: 1.9rem;
	padding-top: 2rem;
	color: #fff;
	padding-left: 4rem;
}
.navBarLink li{
	padding-left: 4rem;
	list-style: none;
	font-size: 1.4rem;
	color: #fff;
	padding-bottom: .2rem;
}





